<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.favicon %>">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <base href="/">
</head>

<body ng-app="form" ng-strict-di ng-cloak>
<div class="container" ng-controller="FormСontroller as formCtrl">

    <form class="well form-horizontal"
          name="form"
          method="post"
          id="contact_form"
          ng-submit="form.$valid"
          novalidate="novalidate"
          ng-hide="form.$submitted">

        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">First name</label>
            <div class="col-sm-9">
                <div class="input-group">
            <span class="input-group-addon" ng-class="{error: form.firstName.$touched && form.firstName.$invalid,
                                                        success:form.firstName.$valid }">
                            <span class="glyphicon glyphicon-user"></span>
            </span>
                    <input type="text"
                           class="form-control"
                           id="name"
                           placeholder="First name"
                           ng-model="user.firstName"
                           name="firstName"
                           ng-minlength="3"
                           ng-maxlength="15"
                           ng-pattern="literalPattern"
                            required>
                    <span class="glyphicon  form-control-feedback"
                          ng-show="form.firstName.$touched"
                          ng-class="{'glyphicon-ok':form.firstName.$valid,
                                      'glyphicon-remove':form.firstName.$touched && form.firstName.$invalid}"
                    ></span>
                </div>
                <span ng-show="form.firstName.$touched && form.firstName.$error.required">Please, fill out this input</span>
                <span ng-show="form.firstName.$dirty && form.firstName.$invalid">Wrong value!</span>

            </div>

            <label for="lastName" class="col-sm-3 control-label">Last name</label>
            <div class="col-sm-9">
                <div class="input-group">
            <span class="input-group-addon" ng-class="{error: form.lastName.$touched && form.lastName.$invalid,
                                                        success:form.lastName.$valid }">
                            <span class="glyphicon glyphicon-user"></span>
            </span>
                    <input type="text"
                           class="form-control"
                           id="lastName"
                           placeholder="Last name"
                           ng-model="user.lastName"
                             name="lastName"
                           ng-minlength="3"
                           ng-maxlength="15"
                           ng-pattern="literalPattern"
                           required>
                    <span class="glyphicon  form-control-feedback"
                          ng-show="form.lastName.$touched"
                          ng-class="{'glyphicon-ok':form.lastName.$valid,
                                      'glyphicon-remove':form.lastName.$touched && form.lastName.$invalid}"
                    ></span>
                </div>
                <span ng-show="form.lastName.$touched && form.lastName.$error.required">Please, fill out this input</span>
                <span ng-show="form.lastName.$dirty && form.lastName.$invalid">Wrong value!</span>


            </div>

            <label for="email" class="col-sm-3 control-label">E-Mail</label>
            <div class="col-sm-9">
                <div class="input-group">
            <span class="input-group-addon" ng-class="{error: form.email.$touched && form.email.$invalid,
                                                        success:form.email.$valid }">
                            <span class="glyphicon glyphicon-envelope"></span>
            </span>
                    <input type="email"
                           class="form-control"
                           id="email"
                           placeholder="E-Mail Address"
                           ng-model="user.email"
                            name="email"
                           required>
                    <span class="glyphicon  form-control-feedback"
                          ng-show="form.email.$touched"
                          ng-class="{'glyphicon-ok':form.email.$valid,
                                      'glyphicon-remove':form.email.$touched && form.email.$invalid}"
                    ></span>
                </div>
                <span ng-show="form.email.$touched && form.email.$error.required">Please, fill out this input</span>
                <span ng-show="form.email.$dirty && form.email.$invalid">Wrong value!</span>


            </div>

            <label for="tel" class="col-sm-3 control-label">Phone #</label>
            <div class="col-sm-9">
                <div class="input-group">
            <span class="input-group-addon" ng-class="{error: form.phone.$touched && form.phone.$invalid,
                                                        success:form.phone.$valid}">
                            <span class="glyphicon glyphicon-earphone"></span>
            </span>
                    <input type="tel"
                           class="form-control"
                           id="tel"
                           placeholder="(845)555-1212"
                           ng-model="user.phone"
                            name="phone"
                           ng-pattern="phonePattern"
                            required>
                    <span class="glyphicon  form-control-feedback"
                          ng-show="form.phone.$touched"
                          ng-class="{'glyphicon-ok':form.phone.$valid,
                                      'glyphicon-remove':form.phone.$touched && form.phone.$invalid}"
                    ></span>
                </div>
                <span ng-show="form.phone.$touched && form.phone.$error.required">Please, fill out this input</span>
                <span ng-show="form.phone.$dirty && form.phone.$invalid">Wrong value!</span>
            </div>

            <label for="address" class="col-sm-3 control-label">Address</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon" ng-class="{error: form.address.$touched && form.address.$invalid,
                                                        success:form.address.$valid }">
                        <span class="glyphicon glyphicon-home"></span>
            </span>
                    <input type="text"
                           class="form-control"
                           id="address"
                           placeholder="Address"
                           ng-model="user.address"
                            name="address"
                           ng-minlength="6"
                           ng-maxlength="25"
                           required>
                    <span class="glyphicon  form-control-feedback"
                          ng-show="form.address.$touched"
                          ng-class="{'glyphicon-ok':form.address.$valid,
                                      'glyphicon-remove':form.address.$touched && form.address.$invalid}"
                    ></span>
                </div>
                <span ng-show="form.address.$touched && form.address.$error.required">Please, fill out this input</span>
                <span ng-show="form.address.$dirty && form.address.$invalid">Wrong value!</span>
            </div>

            <label for="city" class="col-sm-3 control-label">City</label>
            <div class="col-sm-9">
                <div class="input-group">
            <span class="input-group-addon" ng-class="{error: form.city.$touched && form.city.$invalid,
                                                        success:form.city.$valid}">
                            <span class="glyphicon glyphicon-home"></span>
            </span>
                    <input type="text"
                           class="form-control"
                           id="city"
                           placeholder="City"
                           ng-model="user.city"
                           ng-minlength="3"
                           ng-maxlength="15"
                           ng-pattern="literalPattern"
                            name="city"
                           required>
                    <span class="glyphicon  form-control-feedback"
                          ng-show="form.city.$touched"
                          ng-class="{'glyphicon-ok':form.city.$valid,
                                      'glyphicon-remove':form.city.$touched && form.city.$invalid}"
                    ></span>
                </div>
                <span ng-show="form.city.$touched && form.city.$error.required">Please, fill out this input</span>
                <span ng-show="form.city.$dirty && form.city.$invalid">Wrong value!</span>
            </div>

            <label for="state" class="col-sm-3 control-label">State</label>
            <div class="col-sm-9">
                <div class="input-group">
            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-th-list"></span>
            </span>
                    <select name="state"
                            id="state"
                            class="form-control"
                            ng-model="user.state"
                            required>
                        <option value="" >Please select your state</option>
                        <option value="Alabama">Alabama</option>
                        <option value="Alaska">Alaska</option>
                        <option value="Arizona">Arizona</option>
                        <option value="Arkansas">Arkansas</option>
                        <option value="California">California</option>
                        <option value="Colorado">Colorado</option>
                        <option value="Connecticut">Connecticut</option>
                        <option value="Delaware">Delaware</option>
                        <option value="District of Columbia">District of Columbia</option>
                        <option value="Florida"> Florida</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Hawaii">Hawaii</option>
                        <option value="daho">daho</option>
                        <option value="Illinois">Illinois</option>
                        <option value="Indiana">Indiana</option>
                        <option value="Iowa">Iowa</option>
                        <option value="Kansas">Kansas</option>
                        <option value="Kentucky">Kentucky</option>
                        <option value="Louisiana">Louisiana</option>
                        <option value="Maine">Maine</option>
                        <option value="Maryland">Maryland</option>
                        <option value="Mass"> Mass</option>
                        <option value="Michigan">Michigan</option>
                        <option value="Minnesota">Minnesota</option>
                        <option value="Mississippi">Mississippi</option>
                        <option value="Missouri">Missouri</option>
                        <option value="Montana">Montana</option>
                        <option value="Nebraska">Nebraska</option>
                        <option value="Nevada">Nevada</option>
                        <option value="New Hampshire">New Hampshire</option>
                        <option value="New Jersey">New Jersey</option>
                        <option value="New Mexico">New Mexico</option>
                        <option value="New York">New York</option>
                        <option value="North Carolina">North Carolina</option>
                        <option value="North Dakota">North Dakota</option>
                        <option value="Ohio">Ohio</option>
                        <option value="Oklahoma">Oklahoma</option>
                        <option value="Oregon">Oregon</option>
                        <option value="Pennsylvania">Pennsylvania</option>
                        <option value="Rhode Island">Rhode Island</option>
                        <option value="South Carolina">South Carolina</option>
                        <option value="South Dakota">South Dakota</option>
                        <option value="Tennessee">Tennessee</option>
                        <option value="Texas">Texas</option>
                        <option value="Uttah"> Uttah</option>
                        <option value="Vermont">Vermont</option>
                        <option value="Virginia">Virginia</option>
                        <option value="Washington" >Washington</option>
                        <option value="West Virginia" >West Virginia</option>
                        <option value="Wisconsin">Wisconsin</option>
                        <option value="Wyoming" >Wyoming</option>
                    </select>
                </div>
            </div>

            <label for="zip" class="col-sm-3 control-label">Zip Code</label>
            <div class="col-sm-9">
                <div class="input-group">
            <span class="input-group-addon" ng-class="{error: form.zip.$touched && form.zip.$invalid,
                                                        success:form.zip.$valid}">
                            <span class="glyphicon glyphicon-home"></span>
            </span>
                    <input type="number"
                           class="form-control"
                           id="zip"
                           placeholder="Zip Code"
                           ng-model="user.zip"
                            name="zip"
                           ng-minlength="4"
                           ng-maxlength="6"
                           ng-pattern="numericalPattern"
                           required>
                    <span class="glyphicon  form-control-feedback"
                          ng-show="form.zip.$touched"
                          ng-class="{'glyphicon-ok':form.zip.$valid,
                                      'glyphicon-remove':form.zip.$touched && form.zip.$invalid}"
                    ></span>
                </div>
                <span ng-show="form.zip.$touched && form.zip.$error.required">Please, fill out this input</span>
                <span ng-show="form.zip.$dirty && form.zip.$invalid">Wrong value!</span>
            </div>

            <label for="website" class="col-sm-3 control-label">Website or domain name</label>
            <div class="col-sm-9">
                <div class="input-group">
            <span class="input-group-addon" ng-class="{error: form.website.$touched && form.website.$invalid,
                                                        success:form.website.$valid}">
                            <span class="glyphicon glyphicon-globe"></span>
            </span>
                    <input type="text"
                           class="form-control"
                           id="website"
                           placeholder="Website or domain name"
                           ng-model="user.website"
                            name="website"
                           ng-pattern="urlPattern"
                           required>
                    <span class="glyphicon  form-control-feedback"
                          ng-show="form.website.$touched"
                          ng-class="{'glyphicon-ok':form.phone.$valid,
                                      'glyphicon-remove':form.website.$touched && form.website.$invalid}"
                    ></span>
                </div>
                <span ng-show="form.website.$touched && form.website.$error.required">Please, fill out this input</span>
                <span ng-show="form.website.$dirty && form.website.$invalid">Wrong value!</span>
            </div>

            <label for="quiz" class="col-sm-3 control-label">Do you have hosting?</label>
            <div class="col-sm-9">
                <div class="input-group" id="quiz">
                    <div class="input-group">
                        <label>
                            <input type="radio"
                                   name="hosting"
                                   value="yes"
                                   checked id="positive"
                                   ng-model="user.hosting"
                                   ng-value="true" > Yes
                        </label>
                    </div>
                    <div class="input-group">
                        <label>
                            <input type="radio"
                                   name="hosting"
                                   value="no"
                                   id="negative"
                                   ng-model="user.hosting"
                                   ng-value="false"> No
                        </label>
                    </div>

                </div>
            </div>


            <label for="description" class="col-sm-3 control-label">Project Description</label>
            <div class="col-sm-9">
                <div class="input-group">
            <span class="input-group-addon" ng-class="{error: form.description.$touched && form.description.$invalid,
                                                        success:form.description.$valid}">
                            <span class="glyphicon glyphicon-pencil"></span>
            </span>
                    <textarea class="form-control"
                              id="description"
                              placeholder="Project Description"
                              ng-model="user.description"
                                name="description"
                              ng-minlength="10"
                              ng-maxlength="200"
                              ng-pattern="literalPattern"
                              required> </textarea>
                    <span class="glyphicon  form-control-feedback"
                          ng-show="form.description.$touched"
                          ng-class="{'glyphicon-ok':form.description.$valid,
                                      'glyphicon-remove':form.description.$touched && form.description.$invalid}"
                    ></span>
                </div>
                <span ng-show="form.description.$touched && form.description.$error.required">Please, fill out this input</span>
                <span ng-show="form.description.$dirty && form.description.$invalid">Please, enter at least 10 characters and no more 200 characters</span>
            </div>

            <div class="col-sm-9">
                <div class="input-group col-sm-offset-4">

                    <button type="submit"
                           class="btn btn-warning"
                            value="Submit"
                    ng-click="toggleTableVisibility"
                            ng-disabled="form.$invalid"> Send <span class="glyphicon glyphicon-send"></span> </button>
                </div>
            </div>

        </div>
    </form>

    <table class="table table-bordered" ng-show="form.$submitted">
        <thead>
        <tr>
            <th>contact info</th>
            <th>your contact information</th>
        </tr>
        </thead>
        <tr>
            <td>first_name</td>
            <td>{{user.firstName}}</td>
        </tr>
        <tr>
            <td>last_name</td>
            <td>{{user.lastName}}</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>phone</td>
            <td>{{user.phone}}</td>
        </tr>
        <tr>
            <td>address</td>
            <td>{{user.address}}</td>
        </tr>
        <tr>
            <td>city</td>
            <td>{{user.city}}</td>
        </tr>
        <tr>
            <td>state</td>
            <td>{{user.state}}</td>
        </tr>
        <tr>
            <td>zip</td>
            <td>{{user.zip}}</td>
        </tr>
        <tr>
            <td>website</td>
            <td>{{user.website}}</td>
        </tr>
        <tr>
            <td>comment</td>
            <td>{{user.description}}</td>
        </tr>
    </table>
</div>

</body>

</html>