<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.favicon %>">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <base href="/">
</head>

<body ng-app="form" ng-strict-di ng-cloak>
    <div class="container" ng-controller="FormСontroller as formCtrl">
        <user-form></user-form>
        <user-table></user-table>
    </div>
</body>

</html>